#searchSection {
    display: flex;
    align-items: center;
    background-color: #F5F5F5;
    padding: 10px;
    border-radius: 30px;
    width: 100%;
    max-width: 800px;
    margin: 0 auto; /* Center the container */
}

#searchInput {
    flex-grow: 1; /* Allow the input to take up available space */
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 30px;
    background-color: #EFEFEF;
    outline: none;
    margin-right: 20px; /* Space between input and list */
}

#searchSection ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

#searchSection ul li {
    display: inline-block;
    margin-right: 10px; /* Space between buttons */
}

#searchSection ul li:last-child {
    margin-right: 0; /* Remove margin from the last item */
}

#searchSection ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 161px;
    height: 60px;
    background-color: #EFEFEF;
    color: #7D7D7D;
    text-decoration: none;
    border-radius: 30px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
}

#searchSection ul li.active a {
    background-color: #FEF4F4;
    color: #E40020;
}

#searchSection ul li a:hover {
    background-color: #FEF4F4;
    color: #E40020;
}
